In [5]:
!pip install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.3.4-cp38-cp38-win_amd64.whl (8.5 MB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\a - work\coding\python\tutorials\covid\test\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\a - work\coding\python\tutorials\covid\test\lib\site-packages (from matplotlib) (2.8.1)
Collecting cycler>=0.10
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.3.1-cp38-cp38-win_amd64.whl (51 kB)
Requirement already satisfied: numpy>=1.15 in c:\a - work\coding\python\tutorials\covid\test\lib\site-packages (from matplotlib) (1.20.1)
Collecting pillow>=6.2.0
  Downloading Pillow-8.1.1-cp38-cp38-win_amd64.whl (2.2 MB)
Requirement already satisfied: six in c:\a - work\coding\python\tutorials\covid\test\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Installing collected packages: pillow, kiwisolver, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.3.4 pillow-8.1.1

In [8]:

import numpy as np
import pandas as pd
import os
import urllib
%matplotlib inline

In [9]:
url = 'https://covid19.who.int/WHO-COVID-19-global-data.csv'
file_path = os.path.join("data", "covid") # Make variable file_path, specifying the folders leading to it.  ie. the path

In [12]:
os.makedirs(file_path, exist_ok = True) # Make the folders for file_path
csv_path = os.path.join(file_path, "WHO-COVID-19-global-data.csv") # puts the csv file in the path
urllib.request.urlretrieve(url, csv_path) # creates a request to the URL and saves the file to the path

('data\\covid\\WHO-COVID-19-global-data.csv',
 <http.client.HTTPMessage at 0x249e4a69580>)

In [35]:
df = pd.read_csv(csv_path) # creates a DataFrame using the csv file
df.loc[85500] # what is South Africa's details (had to find by trying different numbers)

Date_reported          2020-07-17
Country_code                   ZA
Country              South Africa
WHO_region                   AFRO
New_cases                   13172
Cumulative_cases           324221
New_deaths                    216
Cumulative_deaths            4669
Name: 85500, dtype: object

In [37]:
df_index = df.index # refers to the index object
df_index

RangeIndex(start=0, stop=101087, step=1)

In [38]:
df_colms = df.columns # refers to the columns object
df_colms

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [43]:
df.describe() # gives stats about the data in df

           New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  101087.000000      1.010870e+05  101087.000000      101087.000000
mean     1134.208642      1.374924e+05      25.230742        3551.279433
std      7473.757000      9.361164e+05     144.100029       19697.149378
min    -32952.000000      0.000000e+00    -514.000000           0.000000
25%         0.000000      7.000000e+00       0.000000           0.000000
50%         3.000000      1.043000e+03       0.000000          19.000000
75%       193.000000      2.042450e+04       3.000000         359.000000
max    402270.000000      2.840342e+07    6409.000000      513071.000000

In [50]:
df_countries = df["Country"] # List of countries
df_countries

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
101082       Zimbabwe
101083       Zimbabwe
101084       Zimbabwe
101085       Zimbabwe
101086       Zimbabwe
Name: Country, Length: 101087, dtype: object

In [54]:
df_countries.unique() # removes multiple entries from same countries.

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint Barthélemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [65]:
df_colms = [col.strip() for col in df_colms] # Strips strings of whitespace
df_colms

['Date_reported',
 'Country_code',
 'Country',
 'WHO_region',
 'New_cases',
 'Cumulative_cases',
 'New_deaths',
 'Cumulative_deaths']

In [66]:
df.Country

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
101082       Zimbabwe
101083       Zimbabwe
101084       Zimbabwe
101085       Zimbabwe
101086       Zimbabwe
Name: Country, Length: 101087, dtype: object

In [67]:
df.Country[0:4]

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
Name: Country, dtype: object

In [69]:
df.loc[0:4, 'Country']

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Country, dtype: object

In [ ]:
df_South_Africa = df[df.Country == "South Africa"] # List all the entries from South Africa
df_South_Africa
# FINALLY!

In [90]:
df[df.New_cases > 1000] # Entries where new cases is bigger than 1000

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
154,2020-06-05,AF,Afghanistan,EMRO,1078,19055,10,313
166,2020-06-17,AF,Afghanistan,EMRO,1241,26960,20,508
825,2021-02-04,AL,Albania,EURO,1007,80941,6,1404
826,2021-02-05,AL,Albania,EURO,1052,81993,14,1418
827,2021-02-06,AL,Albania,EURO,1089,83082,15,1433
...,...,...,...,...,...,...,...,...
100642,2021-02-13,ZM,Zambia,AFRO,1083,67681,17,931
100658,2021-03-01,ZM,Zambia,AFRO,1363,78534,32,1091
101030,2021-01-06,ZW,Zimbabwe,AFRO,1365,17194,34,418
101038,2021-01-14,ZW,Zimbabwe,AFRO,1017,24256,38,589
101039,2021-01-15,ZW,Zimbabwe,AFRO,1112,25368,47,636

In [96]:
df.loc[df.New_cases > 1000, ["Country", "New_cases"]]

            Country  New_cases
154     Afghanistan       1078
166     Afghanistan       1241
825         Albania       1007
826         Albania       1052
827         Albania       1089
...             ...        ...
100642       Zambia       1083
100658       Zambia       1363
101030     Zimbabwe       1365
101038     Zimbabwe       1017
101039     Zimbabwe       1112

[12309 rows x 2 columns]

In [ ]:
df.loc[(df_South_Africa) & (df.New_deaths > 150), ["Country", "New_deaths", "Cumulative_deaths"]]

In [110]:
number_ZA = len(df[df.Country_code == 'ZA'])

In [114]:
max_New_Cases_ZA = df.loc[df.Country_code == 'ZA',['New_cases']].max()
max_New_Cases_ZA

New_cases    31328
dtype: int64

In [119]:
df.New_deaths.idxmax()

96498

In [121]:
df.loc[df.New_deaths.idxmax()] # database entry with maximum New Deaths

Date_reported                      2020-04-17
Country_code                               US
Country              United States of America
WHO_region                               AMRO
New_cases                               28711
Cumulative_cases                       632781
New_deaths                               6409
Cumulative_deaths                       32280
Name: 96498, dtype: object

In [122]:
df[df.New_deaths < 0] # what entries have negative values for new deaths?

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
1067,2020-08-04,DZ,Algeria,AFRO,507,31972,-2,1229
2408,2020-10-05,AO,Angola,AFRO,0,5370,-4,185
4845,2020-06-04,AU,Australia,WPRO,8,7229,-1,102
6211,2020-08-30,BS,Bahamas,AMRO,37,2057,-10,40
13843,2020-07-13,BF,Burkina Faso,AFRO,13,1033,-1,53
19353,2020-06-09,CG,Congo,AFRO,0,683,-2,20
21552,2020-08-15,CU,Cuba,AMRO,55,3229,-1,88
22791,2020-07-05,CZ,Czechia,EURO,121,12440,-1,351
22792,2020-07-06,CZ,Czechia,EURO,75,12515,-3,348
27662,2020-12-30,ER,Eritrea,AFRO,181,1220,-1,1
28392,2020-08-30,SZ,Eswatini,AFRO,49,4510,-2,91
30911,2020-07-22,FR,France,EURO,454,166511,-1,30053
30955,2020-09-04,FR,France,EURO,6799,283265,-3,30536
30956,2020-09-05,FR,France,EURO,8860,292125,-1,30535
36010,2020-07-06,GP,Guadeloupe,AMRO,0,184,-2,14
36802,2020-05-05,GT,Guatemala,AMRO,15,703,-2,17
37715,2020-07-04,GN,Guinea,AFRO,71,5521,-13,33
40039,2021-01-12,HN,Honduras,AMRO,719,127945,-2,3273
42925,2020-10-03,IE,Ireland,EURO,466,37063,-5,1801
44103,2020-06-25,IT,Italy,EURO,577,239410,-31,34644
50281,2021-01-18,LS,Lesotho,AFRO,0,6371,-4,93
56886,2020-06-16,YT,Mayotte,AFRO,28,2310,-1,28
61237,2020-09-09,NaN,Namibia,AFRO,118,8928,-2,89
72204,2020-05-05,PR,Puerto Rico,AMRO,35,1843,-43,54
74023,2020-08-25,RE,Réunion,AFRO,35,1244,-4,2
79888,2020-05-10,ST,Sao Tome and Principe,AFRO,-43,165,-1,4
85871,2020-05-23,SS,South Sudan,AFRO,0,473,-1,5
85981,2020-09-10,SS,South Sudan,AFRO,0,2555,-1,48
86068,2020-12-06,SS,South Sudan,AFRO,12,3166,-1,61
96516,2020-05-05,US,United States of America,AMRO,29266,1154985,-514,67279
100839,2020-06-29,ZW,Zimbabwe,AFRO,0,567,-1,6

# Summary

### When you want to:

##### 1. Find values by column

In [ ]:
df.Country

In [ ]:
df[df.Country == 'South Africa']

In [ ]:
df.loc[0:4, 'Country']